<section class="bg-white dark:bg-gray-900 shadow-lg py-10 h-auto">
        <div id="chart w-full h-auto">
            <apx-chart
          
              *ngIf="chartOptions"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis"
              [fill]="chartOptions.fill"
              [title]="chartOptions.title"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
          
</section>