<section class="" >
  <div class="f">
    <!-- Table Container -->
    <div class="w-full ">
      <div class="cursor-pointer bg-white shadow-lg rounded-sm border border-gray-200 dark:bg-night-700 ">
        <ngx-datatable
        #myTable
        class="material"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="10"
        [selected]="selected"
        [selectionType]="SelectionType.single"
        (select)="onSelect($event)"
        [rows]="rows"
      >
      </ngx-datatable>

    </div>

    </div>
  </div>
</section>
